[submodule "Prolog-Library-Collection"]
	path = Prolog-Library-Collection
	url = https://github.com/wouterbeek/Prolog-Library-Collection.git
[submodule "plHtml"]
	path = plHtml
	url = https://github.com/wouterbeek/plHtml.git
[submodule "plDcg"]
	path = plDcg
	url = https://github.com/wouterbeek/plDcg.git
[submodule "plSvg"]
	path = plSvg
	url = https://github.com/wouterbeek/plSvg.git
[submodule "plHttp"]
	path = plHttp
	url = https://github.com/wouterbeek/plHttp.git
[submodule "plUri"]
	path = plUri
	url = https://github.com/wouterbeek/plUri.git
